{% block body %}
    <ul>
  {% for item in getCategory %}
      <li><a href="/categories/{{item.name | replace(' &', '') | replace(' ', '-')}}">{{item.name}}</a></li>
  {% endfor %}
    </ul>
{% endblock %}
