<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/css/master.css" />
</head>
<body>

  {# Search component #}
  <section>
    {% block search %}
      {% include "search.njk" %}
    {% endblock %}
  </section>

  <div class="container paddingless">
    {# Categories component #}
    <section class='left'>
    {% block left %}
      {% include "categories.njk" %}
    {% endblock %}
    </section>

    {# Detail component #}
    <section class='right'>
    {% block right %}
      {# {% include "summary.njk" %} #}
    {% endblock %}
    </section>
  </div>

</body>
</html>