:root {
    --dark-blue: #2a3744;
    --light-blue: #abccdb;
    --white: #fff
}

body {
    font-size: 16px;
}

.search {
    font-size: 1.2rem;
    height: 4vh; 
    display: flex;
    flex-flow: row wrap;
    padding: 1%;
    align-items: center;
    background-color: var(--dark-blue);
}

.search a {
    text-decoration: none;
    color: var(--light-blue);
}

.search .left {
    width: 19.2vw;
    background-color: red;
    display: flex;
    justify-content: space-between;
}

.search .right {
    width: 53.8vw;
    background-color: yellow;
    text-align: right
}