{% extends "layout.nunjucks" %}

{# Search component #}
  <section>
    {% block search %}
      {% include "search.nunjucks" %}
    {% endblock %}
  </section>

  <div class="container paddingless">
    {# Categories component #}
    <section class='left'>
    {% block left %}
      {% include "categories.nunjucks" %}
    {% endblock %}
    </section>

    {# Detail component #}
    <section class='right'>
    {% block right %}
      <h1>Author</h1>
    {% endblock %}
    </section>
  </div>