{% extends "layout.njk" %}

{% block right %}
  {% for book in books %} 
    <article class="book">
      <div class="thumbnail">
        <a href="/books/{{ book.title | lower | replace(" ", "-") }}">
          <img src="/img/{{ book.image }}" height="160" width="130" alt="{{book.title}}"/>
        </a>
      </div>
      <div class="body">
        <header class="header">
          <h3 class="title marginless">
            <a href="/books/{{ book.title | lower | replace(" ", "-") }}" >
              {{book.title}}
            </a>
          </h3>
          <h5 class="author marginless">
          By: {% for item in book.author %} <a href="/authors/{{ item | replace(' ', '-') }}">
             {{item}} 
             {% endfor %}
            {# {{book.author | emoji}} #}
          </a>
          </h5>
        <header>
        <div class="summary">
          <p>
            {# {{book.content}} #}
            {# {{getTopCategory}} #}
            {{book.description | safe | truncate(500)}}
          </p>
        </div>
      </div>
    </article>
  {% endfor %}
{% endblock %}